[submodule "steamfiles"]
	path = steamfiles
	url = https://github.com/twstagg/steamfiles
	ignore = dirty
[submodule "SteamworksPy"]
	path = SteamworksPy
	url = https://github.com/twstagg/SteamworksPy
	ignore = dirty
	branch = nuitka-onefile
