[submodule "steamfiles"]
	path = submodules/steamfiles
	url = https://github.com/RimSort/steamfiles
	ignore = dirty
[submodule "SteamworksPy"]
	path = submodules/SteamworksPy
	url = https://github.com/cebarks/SteamworksPy
	ignore = dirty
	branch = duplicate-fix
