[submodule "steamfiles"]
	path = submodules/steamfiles
	url = https://github.com/twstagg/steamfiles
	ignore = dirty
[submodule "SteamworksPy"]
	path = submodules/SteamworksPy
	url = https://github.com/philippj/SteamworksPy
	ignore = dirty
	branch = master
